<div class="col-10 offset-1">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by MUNIR MUHSIN
  </p>
  <br />
  
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'my pic.jpg', class: 'img-fluid' %>
    
    <br />
    <br />
    <div class="col-12 col-sm-7 offset-sm-1">
      
      
      
    </div>
  
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      
    </div>
    <<div class="col-12 col-sm-7 offset-sm-1">
      
      
    </div>
  </div>

</div>